body {
    background-image: url('/assets/images/grid/grid_@2X.png');
    margin-top: .5em;
}

#heading {
    border: #7b1fa2 solid 5px;
    background: #69f0ae ;
    font-family: 'Bevan', cursive;
    
}

#head-gif {
    width: 150px;
    height: 150px;
    border-radius: 2px 25px 25px 2px;
    float: left;
}

.btn {
    margin: 10px;
}

#giphy_dump {
    color: #ec407a;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 45px;
    padding: 10px;
    clear: both;
}
.grid-container > .topic-image, p {
    align-content: center;
    text-align: center;
    /* padding: 20px 0; */
    clear: both;
  }
  .topic-image {
    border: 10px;
    border-radius: 15px;  
    height: 200px;
    width: 200px;
  }
  p {
      
    background-color: #f8bbd0;
    border: solid 15px;
    border-radius: 15px;
    font-size: 30px;
  }

  .clearfix::after {
    overflow: auto;
    content: "";
    clear: both;
    display: table;
}
/* For mobile phones: */
@media only screen and (max-width: 460px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 15px;
        padding: 5px;
        margin-left: 1em;
        width: 80vw;
        clear: both;

    }
    .topic-image {
        height: 300px;
        width: 300px;
      }

    #heading {
        border: #7b1fa2 solid 5px;
        background: #69f0ae ;
        font-family: 'Bevan', cursive;
        width: 70vw;
        
    }

    #head-gif {
        width: 100px;
        height: 100px;
        border-radius: 2px 15px 15px 2px;
        margin-right: 20px;
    
    }
    h1 {
        font-size: 4vw;
       
    }

    .btn {
        margin: 3px;
    }
    #favButtons {
        width: 70vw;
    }

}


@media only screen and (max-width: 680x) {
    /* For tablets: */
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 5px;
        padding: 5px;
        clear: both;

    }
}