body {
    background-image: url('/assets/images/grid/grid_@2X.png');
}

.jumbotron {
    padding: 10px;
}

.btn {
    margin: 10px;
}

#giphy_dump {
    color: #ec407a;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 45px;
    padding: 10px;
    border: solid 5px green;
    clear: both;
}
.grid-container > .topic-image, p {
    align-content: center;
    text-align: center;
    /* padding: 20px 0; */
    clear: both;
  }
  .topic-image {
    border: solid 10px #ec407a;
    border-radius: 15px;  
    height: 200px;
    width: 200px;
  }
  p {
      
    background-color: #f8bbd0;
    border: solid 15px;
    border-radius: 15px;
    font-size: 30px;
  }
  /* .grid-container > p {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    clear: both;
  } */

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}